{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Remote Clocking</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div id="map" class="justify-content-center">
            <iframe id="google_map" width="450" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk?zoom=25&output=embed&center=53.50573, -8.01957"></iframe> 
        </div>
    </div>
    <div class="row justify-content-center">
        <button id="show_location" value="show_location" name="show_location" onclick="showLocationOnMap()" class="btn btn-info basic-button col-md-3 col-sm-10 col-xs-10">Show My Position</button>
        <a class="btn btn-info basic-button col-md-3 col-sm-10 col-xs-10" href="">Clock Remotely</a>
        <a class="btn btn-info basic-button col-md-3 col-sm-10 col-xs-10" href="{% url 'view_remote_clockings' %}">Previous Remote Clockings</a>
    </div>
</div>
{% endblock %}