{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Remote Clocking</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-7 justify-content-center">
        <table class="table table-secondary table-bordered">
            <tbody>
                <tr>
                    <td><strong>Date: </strong></td>
                    <td>{{ remote_clocking_to_view.remote_clocking_date }}</td>
                </tr>
                <tr>
                    <td style="background-color:CornflowerBlue;"><strong>Clock In: </strong></td>
                    <td>{{ remote_clocking_to_view.remote_clocking_in_time }}</td>
                </tr>
                <tr>
                    <td style="background-color:Orchid;"><strong>Lunch Out: </strong></td>
                    <td>{{ remote_clocking_to_view.remote_lunch_out_time }}</td>
                </tr>
                <tr>
                    <td style="background-color:GoldenRod;"><strong>Lunch In: </strong></td>
                    <td>{{ remote_clocking_to_view.remote_lunch_in_time }}</td>
                </tr>
                <tr>
                    <td style="background-color:ForestGreen;"><strong>Clock Out: </strong></td>
                    <td>{{ remote_clocking_to_view.remote_clocking_out_time }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{ clockings_map|safe }}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!--<div class="row justify-content-center">
        {{ clockings_map|safe }}
    </div>-->
    <hr>
    <div class="row justify-content-center">
        This product includes GeoLite2 data created by MaxMind, available from 
        <a href="https://www.maxmind.com"> https://www.maxmind.com</a>.
    </div>
</div>
{% endblock %}