{% extends 'base.html'%} 
{% load bootstrap_tags %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Personal Details</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        {% if personal_details_exist == False %}
            <p>{{ info_message }}</p>
            <a class="btn btn-info btn-lg" href="{% url 'create_personal_details' %}"> Create Personal Details </a>
        {% else %}
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-striped table-dark justify-content-center">
                    <tr>
                        <td>Officer: </td>
                        <td>{{ personal_details.officer }}</td>
                    </tr>
                    <tr>
                        <td>Address Line 1: </td>
                        <td>{{ personal_details.address_1 }}</td>
                    </tr>
                    <tr>
                        <td>Address Line 2: </td>
                        <td>{{ personal_details.address_2 }}</td>
                    </tr>
                    <tr>
                        <td>County </td>
                        <td>{{ personal_details.county }}</td>
                    </tr>
                    <tr>
                        <td>Telephone No: </td>
                        <td>{{ personal_details.contact_number }}</td>
                    </tr>
                    <tr>
                        <td>Personal Email </td>
                        <td>{{ personal_details.personal_email }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2"></div>
            {% endif %}
    </div>
</div>
{% if personal_details_exist == False %}
<div class="container" style="padding-bottom:5px;">
    <div class="row justify-content-center">
         <a class="btn btn-info btn-lg" href="{% url 'edit_personal_details' personal_details.id %}"> Update Personal Details </a>
    </div>
</div>
{% endif %} 
{% endblock %}