{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">View Manual Clock</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- LEAVE REQUEST -->
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-striped table-dark justify-content-center">
                    {% if user.is_staff %}
                    <tr>
                        <td><strong>Name: </strong></td>
                        <td>{{ manual_clock.mc_officer_id }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Date: </td>
                        <td>{{ manual_clock.clocking_date }}</td>
                    </tr>
                    <tr>
                        <td>Clock In: </td>
                        <td>{{ manual_clock.clocking_in_time }}</td>
                    </tr>
                    <tr>
                        <td>Lunch Out: </td>
                        <td>{{ manual_clock.lunch_out_time }}</td>
                    </tr>
                    <tr>
                        <td>Lunch In: </td>
                        <td>{{ manual_clock.lunch_in_time }}</td>
                    </tr>
                    <tr>
                        <td>Clock Out: </td>
                        <td>{{ manual_clock.clocking_out_time }}</td>
                    </tr>
                    <tr>
                        <td>Reason for Missed Clock: </td>
                        <td>{{ manual_clock.reason_for_missed_clocking }}</td>
                    </tr>
                    <tr>
                        <td><strong>Manual Clocking Checked: </strong></td>
                        {% if manual_clock.checked_by_validator == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Manual Clocking Accepted: </strong></td>
                        {% if manual_clock.accept_reject_clock == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    {% if manual_clock.checked_by_validator == True and manual_clock.accept_reject_clock == False %}
                    <tr>
                        <td><strong>Reason clocking rejected: </strong></td>
                        <td>{{ manual_clock.reason_manual_clock_rejected }}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <div class="col-md-2"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            {% if user == manual_clock.mc_officer_id and manual_clock.checked_by_validator == False %}
            <a class="btn btn-info" href=""><i class="fa fa-pencil"></i> Edit Clocking </a>
            {% endif %}
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            {% if user == annual_leave_req.al_request_officer_id %}
            <a class="btn btn-info" href=""><i class="fa fa-trash"></i> Delete Clocking </a>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
    {% if user.is_staff %}
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a class="btn btn-info" href="{% url 'accept_manual_clock' manual_clock.pk %}"><i class="fa fa-thumbs-up"></i> Accept Clocking </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a class="btn btn-info" href="{% url 'reject_manual_clock' manual_clock.pk %}"><i class="fa fa-thumbs-down"></i> Reject Clocking </a>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endif %}
</div>
{% endblock %}