{% extends "base.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Home</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-start">
        <p>Welcome {{ user.firstname }}</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="card bg-dark col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center" style="margin-left:3px; margin-right:3px;">
          <div class="card-body d-flex justify-content-center">
            <a class="btn btn-info btn-lg" href="{% url 'clocking_page' %}"><i class=""></i> Clockings </a>
          </div>
        </div>
        <div class="card bg-dark col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center" style="margin-left:3px; margin-right:3px;">
          <div class="card-body d-flex justify-content-center">
            <a class="btn btn-info btn-lg" href="{% url 'abscences_page' %}"><i class=""></i> Abscenses </a>
          </div>
        </div>
        <div class="card bg-dark col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center" style="margin-left:3px; margin-right:3px;">
          <div class="card-body d-flex justify-content-center">
            <a class="btn btn-info btn-lg"  href="#"><i class=""></i> Overtime </a>
          </div>
        </div>
        <div class="card bg-dark col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center" style="margin-left:3px; margin-right:3px;">
          <div class="card-body d-flex justify-content-center">
            <a class="btn btn-info btn-lg" href="{% url 'view_personal_details' %}"><i class=""></i> Personal Info </a>
          </div>
        </div>
        <div class="card bg-dark col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center" style="margin-left:3px; margin-right:3px;">
          <div class="card-body d-flex justify-content-center">
            <a class="btn btn-info btn-lg"  href="#"><i class=""></i> Exchanges </a>
          </div>
        </div>
        <div class="card bg-dark col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center" style="margin-left:3px; margin-right:3px;">
          <div class="card-body d-flex justify-content-center">
            <a class="btn btn-info btn-lg"  href="{% url 'annual_leave_page' %}"><i class=""></i> Annual Leave </a>
          </div>
        </div>
    </div>
</div>
{% if user.is_staff %}
<div class="container">
  <div class="row justify-content-center">
        <div class="card bg-dark col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center" style="margin-left:3px; margin-right:3px;">
          <div class="card-body d-flex justify-content-center">
            <a class="btn btn-info btn-lg"  href="{% url 'registration' %}"><i class=""></i> Register New User </a>
          </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}