{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Assign Short Term Overtime</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <legend>Select the officer and shift that you need to require.</legend>
                    {% csrf_token %}
                    {{ assign_st_require_form | as_bootstrap }}
                    <button class="btn btn-info" type="submit">Create Short Term Requirement</button>
                </fieldset>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}