{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Non Scheduled Overtime</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <h3> Previous Non Scheduled Overtime Requests: </h3>
    </div>
    {% if len_my_non_scheduled_ot_requests == 0 %}
    <div class="row justify-content-center">
        <p> You are yet to submit any non scheduled overtime requests. </p>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-3 col-sm-10 col-xs-10 justify-content-center">
            <a class="btn btn-info btn-sm" href="{% url 'non_scheduled_ot_page' %}">Most Recent</a>
        </div>
        <div class="col-md-7 col-sm-10 col-xs-10 justify-content-center">
            <form action="{% url 'search_nsot' %}" method="get" name="nsotSearchForm" onsubmit = "return(validateDate(document.nsotSearchForm.q));">
                <fieldset>
                    <small><em>Enter the date in dd/mm/yyyy format: (e.g. 01/01/2021) </em></small>
                    <input type="text" name="q">
                    <button class="btn btn-info btn-sm"  type="submit"><i class="fa fa-search fa-xs"></i> Search</button>
                </fieldset>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-10 table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-striped table-dark mb-0">
                <thead>
                    <th>Date</th>
                    <th>Hours Claimed</th>
                    <th> Checked </th>
                    <th> Accepted </th>
                    <th><i class="fa fa-folder-open fa-lg"></i></th>
                </thead>
                <tbody>
                    {% for nsot_req in my_non_scheduled_ot_requests %}
                        <tr>
                            <td>{{ nsot_req.nsot_date|date:"D, dS M Y" }}</td>
                            <td>{{ nsot_req.ot_hours_claimed }}</td>
                            {% if nsot_req.nsot_checked_by_validator == True %}
                                <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                            {% else %}
                                <td><i class="fa fa-times-circle fa-lg"></i></td>
                            {% endif %}
                            {% if nsot_req.nsot_accepted == True %}
                                <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                            {% else %}
                                <td><i class="fa fa-times-circle fa-lg"></i></td>
                            {% endif %}
                            <td><a class="btn btn-info" href="{% url 'view_non_scheduled_overtime_request' nsot_req.id %}"><i class="fa fa-eye"></i> View</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4"></div>
        <div class="col-md-4 col-sm-10 col-xs-10 justify-content-center">
            {% if my_non_scheduled_ot_requests.has_other_pages %}
            <ul class="pagination justify-content_center">
            {% if my_non_scheduled_ot_requests.has_previous %}
                <li class="page-item"><a class="page-link text-dark" href="?page={{ my_non_scheduled_ot_requests.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item page-link text-dark disabled"><span>&laquo;</span></li>
            {% endif %}
                {% for i in my_non_scheduled_ot_requests.paginator.page_range %}
                    {% if i <= my_non_scheduled_ot_requests.number|add:3 and i >= my_non_scheduled_ot_requests.number|add:-3 and my_non_scheduled_ot_requests.number == i %}
                        <li class="page-item active"><span class="page-link text-dark">{{ i }}<span class="sr-only bg-info">(current)</span></span></li>
                    {% elif i <= my_non_scheduled_ot_requests.number|add:3 and i >= my_non_scheduled_ot_requests.number|add:-3 %}
                        <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            {% if my_non_scheduled_ot_requests.has_next %}
                <li class="page-item"><a class="page-link text-dark" href="?page={{ my_non_scheduled_ot_requests.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item page-link disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a class="btn btn-info" href="{% url 'submit_nsot_request' %}"> Submit New Non Scheduled Overtime Request </a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}