% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Overtime</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- REPORT CARD -->
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a class="btn btn-info" href="#"> Availability </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a class="btn btn-info" href="{% url 'non_scheduled_ot_page' %}"> Non Scheduled Overtime </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a class="btn btn-info" href="{% url 'allowances_page' %}"> Allowances </a>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12 col-xs-12">
             <a class="btn btn-info" href="{% url 'view_staff_nsot_requests' %}">View Staff NSOT Requests </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
             <a class="btn btn-info" href="{% url 'view_staff_allowance_requests' %}">View Staff Allowance Requests</a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
             <a class="btn btn-info" href="#"> Assign Overtime </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}