{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Overtime</h1>
      </div>
    </div>
</div>
<div class="container">
        <div class="row justify-content-center">
            <h3>Upcoming Overtime</h3>
        </div>
        {% if length_upcoming_ot == 0 %}
        <div class="row justify-content-center">
            <p>You have no upcoming overtime.</p>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="col-md-2"></div>
            <div class="col-md-8 table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-striped table-dark mb-0">
                    <thead>
                        <th>Date</th>
                        <th>Shift</th>
                        <th>Recall</th>
                        <th>Required</th>
                    </thead>
                    <tbody>
                        {% for ot_day in upcoming_ot %}
                            <tr>
                                <td>{{ ot_day.ot_date }}</td>
                                <td>{{ ot_day.ot_shift_id }}</td>
                                {% if ot_day.ot_recall == True %}
                                    <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                                {% else %}
                                    <td><i class="fa fa-times-circle fa-lg"></i></td>
                                {% endif %}
                                {% if ot_day.ot_requirement == True %}
                                    <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                                {% else %}
                                    <td><i class="fa fa-times-circle fa-lg"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row justify-content-center">
        <div class="col-md-4"></div>
        <div class="col-md-4 col-sm-10 col-xs-10 justify-content-center">
            {% if upcoming_ot.has_other_pages %}
            <ul class="pagination justify-content_center">
            {% if upcoming_ot.has_previous %}
                <li class="page-item"><a class="page-link text-dark" href="?page={{ upcoming_ot.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item page-link text-dark disabled"><span>&laquo;</span></li>
            {% endif %}
                {% for i in upcoming_ot.upcoming_paginator.page_range %}
                    {% if i <= upcoming_ot.number|add:3 and i >= upcoming_ot.number|add:-3 and upcoming_ot.number == i %}
                        <li class="page-item active"><span class="page-link text-dark">{{ i }}<span class="sr-only bg-info">(current)</span></span></li>
                    {% elif i <= upcoming_ot.number|add:3 and i >= upcoming_ot.number|add:-3 %}
                        <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            {% if upcoming_ot.has_next %}
                <li class="page-item"><a class="page-link text-dark" href="?page={{ upcoming_ot.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item page-link disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
            <h3>Previous Overtime</h3>
        </div>
        {% if length_previous_ot == 0 %}
        <div class="row justify-content-center">
            <p>You have no previous overtime to display.</p>
        </div>
        {% else %}
        <div id="previous_overtime_section" class="row justify-content-center">
            <div class="col-md-1"></div>
            <div class="col-md-3 col-sm-10 col-xs-10 justify-content-center">
                <a class="btn btn-info btn-sm" href="{% anchor 'overtime_page' 'previous_overtime_section' %}">Most Recent</a>
            </div>
            <div class="col-md-7 col-sm-10 col-xs-10 justify-content-center">
                <form action="{% url 'search_previous_ot' %}" method="get" name="previousOvertimeSearchForm" onsubmit = "return(validateDate(document.previousOvertimeSearchForm.q));">
                    <fieldset>
                        <small><em>Enter the date in dd/mm/yyyy format: (e.g. 01/01/2021) </em></small>
                        <input type="text" name="q">
                        <button class="btn btn-info btn-sm"  type="submit"><i class="fa fa-search fa-xs"></i> Search</button>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2"></div>
            <div class="col-md-8 table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-striped table-dark mb-0">
                    <thead>
                        <th>Date</th>
                        <th>Shift</th>
                        <th>Recall</th>
                        <th>Required</th>
                    </thead>
                    <tbody>
                        {% for previous_ot_day in previous_ot %}
                            <tr>
                                <td>{{ previous_ot_day.ot_date }}</td>
                                <td>{{ previous_ot_day.ot_shift_id }}</td>
                                {% if previous_ot_day.ot_recall == True %}
                                    <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                                {% else %}
                                    <td><i class="fa fa-times-circle fa-lg"></i></td>
                                {% endif %}
                                {% if previous_ot_day.ot_requirement == True %}
                                    <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                                {% else %}
                                    <td><i class="fa fa-times-circle fa-lg"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row justify-content-center">
        <div class="col-md-4"></div>
        <div class="col-md-4 col-sm-10 col-xs-10 justify-content-center">
            {% if previous_ot.has_other_pages %}
            <ul class="pagination justify-content_center">
            {% if previous_ot.has_previous %}
                <li class="page-item"><a class="page-link text-dark" href="?page={{ previous_ot.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item page-link text-dark disabled"><span>&laquo;</span></li>
            {% endif %}
                {% for i in previous_ot.previous_paginator.page_range %}
                    {% if i <= previous_ot.number|add:3 and i >= previous_ot.number|add:-3 and previous_ot.number == i %}
                        <li class="page-item active"><span class="page-link text-dark">{{ i }}<span class="sr-only bg-info">(current)</span></span></li>
                    {% elif i <= previous_ot.number|add:3 and i >= previous_ot.number|add:-3 %}
                        <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            {% if previous_ot.has_next %}
                <li class="page-item"><a class="page-link text-dark" href="?page={{ previous_ot.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item page-link disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
        {% endif %}
    <div class="row justify-content-center">
        <a class="btn btn-info basic-button col-xl-4 col-lg-4 col-md-4 col-sm-10 col-xs-10" href="{% url 'availability_page' %}"> Availability </a>
        <a class="btn btn-info basic-button col-xl-4 col-lg-4 col-md-4 col-sm-10 col-xs-10" href="{% url 'non_scheduled_ot_page' %}"> Non Scheduled Overtime </a>
        <a class="btn btn-info basic-button col-xl-4 col-lg-4 col-md-4 col-sm-10 col-xs-10" href="{% url 'allowances_page' %}"> Allowances </a>
    </div>
    {% if user.is_staff %}
    <div class="row justify-content-center">
        <div class="row justify-content-center col-md-4 col-sm-10 col-xs-10">
             <a class="btn btn-info" href="{% url 'view_staff_nsot_requests' %}">View Staff NSOT Requests </a>
        </div>
        <div class="row justify-content-center col-md-4 col-sm-10 col-xs-10">
             <a class="btn btn-info" href="{% url 'view_staff_allowance_requests' %}">View Staff Allowance Requests</a>
        </div>
        <div class="row justify-content-center col-md-4 col-sm-10 col-xs-10">
             <a class="btn btn-info" href="{% url 'assign_ot_date' %}"> Assign Overtime </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}