{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Submit Availability Sheet</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <legend>Please select the days you are available to work overtime from the options provided.</legend>
                    {% csrf_token %}
                    {{ availability_sheet_form | as_bootstrap }}
                    <button class="btn btn-info" type="submit" onclick="return confirm('Are you sure these are the dates you wish to make yourself available?')">Submit Availability Sheet</button>
                </fieldset>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}