{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">View Allowance Request</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- LEAVE REQUEST -->
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-striped table-dark justify-content-center">
                    <tbody>
                    {% if user.is_staff %}
                    <tr>
                        <td><strong>Name: </strong></td>
                        <td>{{ allow_req_to_view.allow_req_off_id }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><strong>Date: </strong></td>
                        <td>{{ allow_req_to_view.allow_req_date }}</td>
                    </tr>
                    <tr>
                        <td><strong>Task: </strong></td>
                        <td>{{ allow_req_to_view.allow_req_task }}</td>
                    </tr>
                    <tr>
                        <td><strong>Claimed Breakfast: </strong></td>
                        {% if allow_req_to_view.claiming_breakfast_allowance == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Claimed Dinner: </strong></td>
                        {% if allow_req_to_view.claiming_dinner_allowance == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Claimed Tea: </strong></td>
                        {% if allow_req_to_view.claiming_tea_allowance == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Claimed Plain Clothes: </strong></td>
                        {% if allow_req_to_view.claiming_plain_clothes_allowance == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Claimed Prisoners Meal: </strong></td>
                        {% if allow_req_to_view.claiming_food_for_prisoner_expense == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Prisoner's Meal Cost: </strong></td>
                        <td><i class="fa fa-euro"></i> {{ allow_req_to_view.food_for_prisoner_amount }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Prisoner Meal Cost Receipt: </strong></td>
                    </tr>
                    <tr>
                        <td colspan="2"><img class="" src="{{ MEDIA_URL }}{{ csl_application.csl_image }}" alt="Sick Cert Image" style="width:100%;height:400px;"></td>
                    </tr>
                    <tr>
                        <td><strong>Claim Total: </strong></td>
                        <td><i class="fa fa-euro"></i> {{ allow_req_to_view.claim_total }}</td>
                    </tr>
                    <tr>
                        <td><strong>Request Checked: </strong></td>
                        {% if allow_req_to_view.allow_req_checked_by_validator %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Request Accepted: </strong></td>
                        {% if allow_req_to_view.allow_req_accepted == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    {% if allow_req_to_view.allow_req_checked_by_validator == True and allow_req_to_view.allow_req_accepted == False %}
                    <tr>
                        <td><strong>Reason request rejected: </strong></td>
                        <td>{{ allow_req_to_view.reason_allowance_req_rejected }}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            {% if user == allow_req_to_view.allow_req_off_id and allow_req_to_view.allow_req_checked_by_validator == False %}
            <a class="btn btn-info" href="{% url 'edit_allowance_request' allow_req_to_view.id %}"><i class="fa fa-pencil"></i> Edit Allowance Request </a>
            {% endif %}
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            {% if user == allow_req_to_view.allow_req_off_id %}
            <a class="btn btn-info" href="{% url 'delete_allowance_request' allow_req_to_view.id %}"><i class="fa fa-trash"></i> Delete Allowance Request </a>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
    {% if user.is_staff and user != allow_req_to_view.allow_req_off_id %}
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a class="btn btn-info" href="{% url 'accept_allowance_request' allow_req_to_view.id %}"><i class="fa fa-thumbs-up"></i> Accept Request </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a class="btn btn-info" href=""><i class="fa fa-thumbs-down"></i> Reject Request </a>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endif %}
</div>
{% endblock %}