{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":7,"column":7},"end":{"row":10,"column":7},"action":"insert","lines":["currentuser==0.2.1","django-filter==2.2.0","django-filters-clone==0.2.1","django-"],"id":2},{"start":{"row":25,"column":18},"end":{"row":26,"column":13},"action":"insert","lines":["","Pillow==5.1.0"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":1,"state":"start","mode":"ace/mode/text"}},"timestamp":1605527204345,"hash":"7537ef780cf600a53dc83b2f6c6d99a90074a7da"}