{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":73,"column":0},"end":{"row":73,"column":16},"action":"remove","lines":["typed-ast==1.4.0"],"id":6},{"start":{"row":72,"column":16},"end":{"row":73,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":840,"scrollleft":0,"selection":{"start":{"row":72,"column":16},"end":{"row":72,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":59,"state":"start","mode":"ace/mode/text"}},"timestamp":1620499087031,"hash":"51ecf9c416f2954ace9de342c6f2e62ded0378b8"}