{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Abscences</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <!-- REPORT CARD -->
      <div class="col-md-1"></div>
      <div class="col-md-10 table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-striped table-dark mb-0">
          <thead>
            <th>Type of Sick Leave</th>
            <th>Number of Instances</th>
          </thead>
          <tbody>
            <tr>
              <td>Certified Sick Leave</td>
              <td>
                {% if len_csl_for_this_year == 0 %}
                  0
                {% else %}
                  {{ csl_for_year.number_csl_for_year }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Un-Certified Sick Leave</td>
              <td>
                {% if len_usl_for_this_year == 0 %}
                  0
                {% else %}
                  {{ usl_for_year.number_usl_for_year }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Force Majeure Sick Leave</td>
              <td>
                {% if len_fm_for_this_year == 0 %}
                  0
                {% else %}
                  {{ fm_for_year.number_fm_for_year }}
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row justify-content-center">
        <div class="row justify-content-center col-md-6 col-sm-12 col-xs-12">
            <!-- BUTTON FOR REPORT ABSCENCE -->
            <button type="button" class="btn btn-info absence-buttons" data-toggle="modal" data-target="#submitAbscence"> Submit Abscence </button>
        </div>
        <div class="row justify-content-center col-md-6 col-sm-12 col-xs-12">
            <!-- BUTTON FOR VIEW ABSCENCES -->
            <a class="btn btn-info absence-buttons" href="{% url 'view_my_sick_leave' %}"> My Previous Abscences </a>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="row justify-content-center">
        <!-- BUTTON FOR STAFF TO VIEW REPORTED ABSCENCES -->
        <a class="btn btn-info" href="{% url 'view_staff_sick_leave_applications' %}">Staff Sick Leave Submissions</a>
    </div>
    {% endif %}
</div>
<!-- Modal -->
<div class="modal fade" id="submitAbscence" tabindex="-1" aria-labelledby="submitAbscenceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="submitAbscenceModalLabel">Submit Abscence</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        What type of abscence do you wish to report?
      </div>
      <div class="modal-footer">
            <div class="row">
                <div class="col-md-4 ml-auto">
                    <a class="btn btn-info" href="{% url 'submit_csl' %}"> C.S.L. </a>
                </div>
                <div class="col-md-4 ml-auto">
                    <a class="btn btn-info" href="{% url 'submit_usl' %}"> U.S.L. </a>
                </div>
                <div class="col-md-4 ml-auto">
                    <a class="btn btn-info" href="{% url 'submit_fm' %}"> F.M. </a>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}