{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Reject Certified Sick</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table class="table table-striped table-dark">
                <tbody>
                    <tr><td><strong>Officer: </strong></td><td>{{ csl_being_rejected.csl_officer_id }}</td></tr> 
                    <tr><td><strong>Start Day of Cert: </strong></td><td>{{ csl_being_rejected.first_day_of_cert }}</td></tr>
                    <tr><td><strong>Last Day of Cert: </strong></td><td>{{ csl_being_rejected.last_day_of_cert }}</td></tr>
                    <tr><td colspan="2"><img class="" src="{{ MEDIA_URL }}{{ csl_being_rejected.csl_image }}" alt="Sick Cert Image" style="width:100%;height:400px;"></td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
    <hr/>
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <legend>Please provide a reason as to why application is being rejected</legend>
                    {% csrf_token %}
                    {{ csl_reject_form | as_bootstrap }}
                    <button type="submit" onclick="return confirm('Are you sure?')">Reject Cert</button>
                </fieldset>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}