{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Staff Sick Leave Submissions</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <h3> Certified Sick </h3>
    </div>
    {% if len_staff_csl_submissions == 0 %}
    <div class="row justify-content-center">
        <p> No new certified sick leave applications to check. </p>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table class="table table-striped table-dark mb-0">
                <thead>
                    <th>Officer</th>
                    <th>Date of Return</th>
                    <th><i class="fa fa-folder-open fa-lg"></i></th>
                </thead>
                <tbody>
                    {% for csl_req in staff_csls %}
                        <tr>
                            <td>{{ csl_req.csl_officer_id.firstname }} {{ csl_req.csl_officer_id.lastname }}</td>
                            <td>{{ csl_req.last_day_of_cert }}</td>
                            <td><a class="btn btn-info" href="{% url 'view_csl_application' csl_req.id %}"><i class="fa fa-eye"></i> View </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
        <div class="row justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 justify-content-center">
            {% if staff_csls.has_other_pages %}
            <ul class="pagination justify-content_center">
            {% if staff_csls.has_previous %}
                <li class="page-item"><a class="page-link text-dark" href="?csl_pag_page={{ staff_csls.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item page-link text-dark disabled"><span>&laquo;</span></li>
            {% endif %}
                {% for i in staff_csls.paginator.page_range %}
                    {% if i <= staff_csls.number|add:2 and i >= staff_csls.number|add:-2 and staff_csls.number == i %}
                        <li class="page-item active"><span class="page-link text-dark">{{ i }}<span class="sr-only bg-info">(current)</span></span></li>
                    {% elif i <= staff_csls.number|add:2 and i >= staff_csls.number|add:-2 %}
                        <li class="page-item"><a class="page-link text-dark" href="?csl_pag_page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            {% if staff_csls.has_next %}
                <li class="page-item"><a class="page-link text-dark" href="?csl_pag_page={{ staff_csls.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item page-link disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
            {% endif %}
        </div>
        <div class="col-md-1"></div>
        </div>
    </div>
    {% endif %}
    <hr/>
    <div class="row justify-content-center">
    <h3> Uncertified Sick </h3>
    </div>
    {% if len_staff_usl_submissions == 0 %}
    <div class="row justify-content-center">
        <p> No new uncertified sick leave applications to check. </p>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-striped table-dark mb-0">
                <thead>
                    <th>Officer</th>
                    <th>Date</th>
                    <th><i class="fa fa-folder-open fa-lg"></i></th>
                </thead>
                <tbody>
                    {% for usl_req in staff_usls %}
                        <tr>
                            <td>{{ usl_req.usl_officer_id.firstname }} {{ usl_req.usl_officer_id.lastname }}</td>
                            <td>{{ usl_req.usl_date }}</td>
                            <td><a class="btn btn-info" href="{% url 'view_usl_application' usl_req.id %}"><i class="fa fa-eye"></i> View </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
        <div class="row justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 justify-content-center">
            {% if staff_usls.has_other_pages %}
            <ul class="pagination justify-content_center">
            {% if staff_usls.has_previous %}
                <li class="page-item"><a class="page-link text-dark" href="?usl_pag_page={{ staff_usls.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item page-link text-dark disabled"><span>&laquo;</span></li>
            {% endif %}
                {% for i in staff_usls.paginator.page_range %}
                    {% if i <= staff_usls.number|add:2 and i >= staff_usls.number|add:-2 and staff_usls.number == i %}
                        <li class="page-item active"><span class="page-link text-dark">{{ i }}<span class="sr-only bg-info">(current)</span></span></li>
                    {% elif i <= staff_usls.number|add:2 and i >= staff_usls.number|add:-2 %}
                        <li class="page-item"><a class="page-link text-dark" href="?usl_pag_page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            {% if staff_usls.has_next %}
                <li class="page-item"><a class="page-link text-dark" href="?usl_pag_page={{ staff_usls.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item page-link disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
            {% endif %}
        </div>
        <div class="col-md-1"></div>
        </div>
    </div>
    {% endif %}
    <hr/>
    <div class="row justify-content-center">
        <h3> Force Majeure </h3>
    </div>
    {% if len_staff_fm_submissions == 0 %}
    <div class="row justify-content-center">
        <p> No new force majeure leave applications to check. </p>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-striped table-dark mb-0">
                <thead>
                    <th>Officer</th>
                    <th>Date</th>
                    <th><i class="fa fa-folder-open fa-lg"></i></th>
                </thead>
                <tbody>
                    {% for fm_req in staff_fms %}
                        <tr>
                            <td>{{ fm_req.fm_officer_id.firstname }} {{ fm_req.fm_officer_id.lastname }}</td>
                            <td>{{ fm_req.fm_date }}</td>
                            <td><a class="btn btn-info" href="{% url 'view_fm_application' fm_req.id %}"><i class="fa fa-eye"></i> View </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
        <div class="row justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 justify-content-center">
            {% if staff_fms.has_other_pages %}
            <ul class="pagination justify-content_center">
            {% if staff_fms.has_previous %}
                <li class="page-item"><a class="page-link text-dark" href="?fm_pag_page={{ staff_fms.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item page-link text-dark disabled"><span>&laquo;</span></li>
            {% endif %}
                {% for i in staff_fms.paginator.page_range %}
                    {% if i <= staff_fms.number|add:2 and i >= staff_fms.number|add:-2 and staff_fms.number == i %}
                        <li class="page-item active"><span class="page-link text-dark">{{ i }}<span class="sr-only bg-info">(current)</span></span></li>
                    {% elif i <= staff_fms.number|add:2 and i >= staff_fms.number|add:-2 %}
                        <li class="page-item"><a class="page-link text-dark" href="?fm_pag_page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            {% if staff_fms.has_next %}
                <li class="page-item"><a class="page-link text-dark" href="?fm_pag_page={{ staff_fms.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item page-link disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
            {% endif %}
        </div>
        <div class="col-md-1"></div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}