{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">View Un-Certified Sick</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-striped table-dark justify-content-center">
                    {% if user.is_staff %}
                    <tbody>
                    <tr>
                        <td><strong>Name: </strong></td>
                        <td>{{ usl_application.usl_officer_id }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><strong>Uncertified Date: </strong></td>
                        <td>{{ usl_application.usl_date }}</td>
                    </tr>
                    <tr>
                        <td><strong>Reason for U.S.L.: </strong></td>
                        <td>{{ usl_application.reason_for_usl }}</td>
                    </tr>
                    <tr>
                        <td><strong>Application Checked: </strong></td>
                        {% if usl_application.usl_checked_by_validator == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Application Accepted: </strong></td>
                        {% if usl_application.usl_accepted == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    {% if usl_application.usl_checked_by_validator == True and usl_application.usl_accepted == False %}
                    <tr>
                        <td><strong>Reason U.S.L. rejected:</strong></td>
                        <td>{{ usl_application.reason_usl_rejected }}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            {% if user == usl_application.usl_officer_id and usl_application.usl_checked_by_validator == False %}
            <a class="btn btn-info" href="{% url 'edit_usl' usl_application.id %}"><i class="fa fa-pencil"></i> Edit Application </a>
            {% endif %}
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            {% if user == usl_application.usl_officer_id %}
            <a class="btn btn-info" href="{% url 'delete_usl' usl_application.id %}"><i class="fa fa-trash"></i> Delete </a>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
    {% if user.is_staff %}
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a class="btn btn-info" href="{% url 'accept_usl' usl_application.id %}"><i class="fa fa-thumbs-up"></i> Accept Application </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a class="btn btn-info" href="{% url 'reject_usl' usl_application.id %}"><i class="fa fa-thumbs-down"></i> Reject Application </a>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endif %}
</div>
{% endblock %}