/* ------------------------------------------ FOOTER -------------------- */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5vh;
  width: 100%;
  color: white;
  text-align: center;
}

/* ------------------------------------------ MAIN CONTENT BLOCK -------- */
.main-block {
    background-color: #E6E2E1;
    margin-top: 20px;
    margin-bottom: 7vh;
    min-height: 60vh;
}

/* ------------------------------------------ JUMBOTRON ------------------ */
.jumbotron {
  margin-top: 2vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

/* ------------------------------------------ CARD ON LANDING PAGE ------- */
.card-body {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.card {
  margin-bottom: 2vh;
}

/* ------------------------------------------ VERTICAL SCROLLING ON TABLE - */
.my-custom-scrollbar {
position: relative;
height: 300px;
overflow: auto;
margin-top: 5px;
margin-bottom: 5px;
}
.table-wrapper-scroll-y {
display: block;
}

td, th {
  text-align: center;
}

/* ------------------------------------------ BACKGROUND COLOR ON ACTIVE PAGINATION PAGE - */
.pagination > active > .a {
  background-color: #5bc0de;
}

.page-item.active .page-link {
  z-index: 0;
  background-color: #5bc0de;
  border: solid 1px #5bc0de;
}

/* ------------------------------------------ BUTTONS ------------------------------------ */
.basic-button {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.absence-buttons {
  margin-top: 10px;
}

/* ------------------------------------------ INFO PARAGRAPH BORDER ---------------------- */
.info-border {
  border: solid 2px #5bc0de;
  padding-top: 10px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 75%  
}
