{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">Request Short Term Leave</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data">
                <legend>Enter when you wish to take short term leave below</legend>
                {% csrf_token %}
                {{ short_term_leave_form | as_bootstrap }}
                <button class="btn btn-info" type="submit">Submit Short Term Leave Request</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}