{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-4">View Block Leave Request</h1>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- LEAVE REQUEST -->
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-striped table-dark justify-content-center">
                    {% if user.is_staff %}
                    <tr>
                        <td><strong>Name: </strong></td>
                        <td>{{ annual_leave_req.al_request_officer_id }}</td>
                    </tr>
                    <tr>
                        <td><strong>Applicant's Leave Balance: </strong></td>
                        <td>{{ applicants_leave_balance }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><strong>Requested Start Date: </strong></td>
                        <td>{{ annual_leave_req.leave_request_start_date|date:"D, dS M Y" }}</td>
                    </tr>
                    <tr>
                        <td><strong>Requested Last Date: </strong></td>
                        <td>{{ annual_leave_req.leave_request_last_date|date:"D, dS M Y" }}</td>
                    </tr>
                    <tr>
                        <td><strong>Request Checked: </strong></td>
                        {% if annual_leave_req.leave_request_checked_by_validator == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Leave Granted: </strong></td>
                        {% if annual_leave_req.leave_request_granted == True %}
                            <td><i class="fa fa-check-circle-o fa-lg"></i></td>
                        {% else %}
                            <td><i class="fa fa-times-circle fa-lg"></i></td>
                        {% endif %}
                    </tr>
                    {% if annual_leave_req.leave_request_checked_by_validator == True and annual_leave_req.leave_request_granted == False %}
                    <tr>
                        <td><strong>Reason leave rejected: </strong></td>
                        <td>{{ annual_leave_req.reason_leave_rejected }}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <div class="col-md-2"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 col-xs-12 row justify-content-center">
            {% if user == annual_leave_req.al_request_officer_id and annual_leave_req.leave_request_checked_by_validator == False %}
            <a class="btn btn-info basic-button" href="{% url 'edit_block_leave_request' annual_leave_req.id %}"><i class="fa fa-pencil"></i> Edit Request </a>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 row justify-content-center">
            {% if user == annual_leave_req.al_request_officer_id %}
            <a class="btn btn-info basic-button" onclick="return confirm('Are you sure you want to delete this leave request?')" href="{% url 'delete_block_leave_request' annual_leave_req.id %}"><i class="fa fa-trash"></i> Delete Request </a>
            {% endif %}
        </div>
    </div>
    {% if user.is_staff %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 col-xs-12 row justify-content-center">
            <a class="btn btn-info basic-button" onclick="return confirm('Are you sure you want to grant this block leave request?')" href="{% url 'accept_block_leave' annual_leave_req.id %}"><i class="fa fa-thumbs-up"></i> Grant Request </a>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 row justify-content-center">
            <a class="btn btn-info basic-button" href="{% url 'reject_annual_leave' annual_leave_req.id %}"><i class="fa fa-thumbs-down"></i> Reject Request </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}